<section class="lista-vagas">
    <!-- Início de um loop ngFor que percorre cada objeto 'vaga' na matriz
    'vagas' -->
    <div *ngFor="let curriculo of curriculos">
        <div class="card" style="width: 18rem;">
            <img src="assets\img\vagas\{{curriculo.foto}}" class="card-img-top" alt="...">
            <div class="card-body">
               <h5 class="card-title">ID curriculo: {{curriculo.id}}</h5>
                <h5 class="card-title">Nome: {{curriculo.nome}}</h5>
                <h5 class="card-title">Sobrenome: {{curriculo.sobrenome}}</h5>
                <p class="card-text">Pretenção Salarial: {{curriculo.salario}}</p>
                <p class="card-text">Escolaridade: {{curriculo.escolaridade}}</p>
                <p class="card-text">Experiencia: {{curriculo.experiencia}}</p>
            </div>
        </div>
    </div>
</section>
